{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}
<head>
<link rel="stylesheet" href="static/css/about.css">
</head>
<body>
    <h2> ABOUT SARACHA </h2>
    <div class ="saracha">
        <img src="../../static/images/me.jpg">
    </div>
    <div class="social">
        <a href="#" ><i class="fab fa-github"></i></a>
        <a href="#" ><i class="fab fa-instagram"></i></a>
        <a href="#" ><i class="fab fa-facebook"></i></a>
    </div>
</body>
{% endblock %}